---
layout: page
tagline:
---

<img src="/assets/2.pvakasky.jpg" alt="Käskyä ei löytynyt">
<p style="text-align: center;">
    <a  href="/assets/2.pvakasky.jpg"><button class="btn btn-outline-dark">Avaa</button></a>
</p>

{% for post in paginator.posts %}

<article class="home">

  <h2>
  {% if site.lang == 'fi' %}
    <a href="{{ site.BASEURL_ROOT }}{{ post.url }}">{{ post.title }}</a>
    {% else %}
    <a href="{{ site.BASEURL_ROOT }}/{{ site.lang }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  </h2>


</article>
{% endfor %}
<hr/>


