---
layout: page
tagline:
---

![2nd Commandment](/assets/2.pvakasky.jpg)
<p style="text-align: center;">
    <a  href="/assets/2.pvakasky.jpg"><button class="btn btn-outline-dark">Avaa</button></a>
</p>

{% for post in paginator.posts %}

<article class="home">

  <span class="post-date">
    {% assign d = post.date | date: "%d" | plus:'0' %}
    {{ post.date | date: "%B" }}
    {% case d %}
    {% when 1 or 21 or 31 %}{{ d }}st,
    {% when 2 or 22 %}{{ d }}nd,
    {% when 3 or 23 %}{{ d }}rd,
    {% else %}{{ d }}th,
    {% endcase %}
    {{ post.date | date: "%Y" }}
  </span>

  <h2>
  {% if site.lang == 'fi' %}
    <a href="{{ site.BASEURL_ROOT }}{{ post.url }}">{{ post.title }}</a>
    {% else %}
    <a href="{{ site.BASEURL_ROOT }}/{{ site.lang }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  </h2>

  <div>
    {{ post.content }}
  </div>

</article>
{% endfor %}
<hr/>


