---
layout: page-no-title
title: "Wappulaskuri"
permalink: /wappulaskuri/

---
{% assign numbers = site.static_files|where:"number",true|reverse%}
{% assign existing_numbers = 0 %}

<div class="container-fluid carouselcontainer">
    <div id="countdownCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in numbers %}
            {% if forloop.last %}
            <li data-target="#countdownCarousel" data-slide-to="{{ forloop.index }}" class="active"></li>
            {% else %}
            <li data-target="#countdownCarousel" data-slide-to="{{ forloop.index }}"></li>
            {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for image in numbers %}
            {% if forloop.last %}
                <div class="item active">
            {% else %}
                <div class="item">
            {% endif %}
                {% if image.path contains "mp4" %}
                    <video id="08video" style="width: 70%; height: 100%;" controls>
                        <source src="{{site.BASEURL}}{{image.path}}" type="video/mp4" />
                    </video>
                {% else %}
                    <img src="{{site.BASEURL}}{{image.path}}" />
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#countdownCarousel" data-slide="prev">
            <span class="icon-prev fa fa-angle-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#countdownCarousel" data-slide="next">
            <span class="icon-next fa fa-angle-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>