<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
</div>
	
<article>

	<div class="col-sm-10">
	  <div class="article_body">
	  {{ content }}
	  </div>

		<hr>

		<div>
      <section class="share col-sm-6">
    </div>

    <div class="clearfix"></div>

		<ul class="pager">
		  {% if page.previous %}
		  <li class="previous"><a href="{{ site.BASEURL_ROOT }}/{{ site.lang | replace: 'fi', ''}}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; {% t default.previous %}</a></li>
		  {% else %}
		  <li class="previous disabled"><a>&larr; {% t default.previous %}</a></li>
		  {% endif %}
		  {% if page.next %}
		  <li class="next"><a href="{{ site.BASEURL_ROOT }}/{{ site.lang | replace: 'fi', ''}}{{ page.next.url }}" title="{{ page.next.title }}">{% t default.next %} &rarr;</a></li>
		  {% else %}
			<li class="next disabled"><a>{% t default.next %} &rarr;</a>
		  {% endif %}
		</ul>

		<hr>
	</div>
	
	<div class="col-sm-2 sidebar-2">
	
	</div>
</article>
<div class="clearfix"></div>
